
    <link rel="stylesheet" href="/css/bookstyle.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

    <h1 id="headTitle"> Bookshelf</h1>
    <p id="blurb"> Click on the middle box to view your titles, click the right box to add a new title to your collection, or click the left box to find suggestions for new titles. </p>
    <div class="bookDisplayImage" id="bookSuggestImg">
    <img src="/images/retro.jpg" class="imgSquare" alt="click to get recommendations">
    <h2><span id="openSuggestionOverlay">Looking for new suggestions?</span></h2>
    </div>
    <div class="bookDisplayImage" id="bookDisplayImg">
    <img src="/images/books.jpeg" class="imgSquare" alt="click to display your books">
    <h2><span id="displayBookshelf">Show my collection</span></h2>
    </div>
    <div class="bookDisplayImage" id="bookAddImg">
    <img src="/images/typewriter.jpeg" class="imgSquare" alt="click to add new title">
    <h2><span id="openAddButton"> Add new titles </span></h2>
</div>

    <div id="showBooksModal" class="booksModal">

    <div class='modalShowBooks' id="openBooksModal">
        <span class="showClose">Return to home</span>

    <div id="buttonWrapper">

           
            <label for="filterBook"><span class="formTitle">Choose a Shelf to display titles</span></label><br>
             <select name="filterbooks" class="filterBooks" id="filterBook"><option value="TBR" name="TBR" class="tagsTBR">To be read</option><option value="wishlist" name="wishlist" class="wishList">Wishlist</option><option value="favorites" name="favorites" class="favoritedBook">Favorites</option><option value="reference" name="reference" class="bookReference">Reference</option><option value="readandreturn" name="readandreturn" class="ReadandReturn">Read & Returned</option></select>
            <button id="showBooks" form="filterBookForm"> Filter Books </button>
            <button id="showAllBooks"> Show All Books </button><br>
             </div>
        <div class="boxDisplayWrapper">
         <div class='displayExistingTitles'>
        </div>
        <div class='wishlistDisplay'>
        </div>
        <div class='tobereadDisplay'>
        </div>
        <div class='favoritesDisplay'>
        </div>
        <div class='readandreturnDisplay'>
        </div>
        <div class='referenceDisplay'>
        </div>
</div>
        
   
</div>
</div>

    


   

    <main class="cd-main-content">
        
        <!-- your content here -->
    </main>
    

    <!-- <div class="cd-panel from-right">
        <header class="cd-panel-header">
            <h1>Title Goes Here</h1>
            <a href="#0" class="cd-panel-close">Close</a>
        </header>
        <div class="cd-panel-container">
            <div class="cd-panel-content"> -->
    <div id="addTitleModal" class="addModal">

    <div class='showAddForm' id="openAddModal">
        <span class="close">Return to home</span>
        <h2 class="formTitle"> Add a new title to your bookshelf </h2>
        <form action="/books" method="POST" id='bookInfoForm'>
            <label for="title"> Title *</label><br>
            <input id="title" type="text" placeholder="Title" name="title" required>
            <br>
            <label for="author"> Author *</label><br>
            <input id="author" type="text" placeholder="author" name="author" required><br>
            <label for="addToShelf">Choose a Shelf</label><br>
            <select name="tagsName" class="tagsDropDown" id="addToShelf"><option value="TBR" name="TRB" class="tagsTBR">To be read</option><option value="wishlist" name="wishlist" class="wishList">Wishlist</option><option value="favorites" name="favorites" class="favoritedBook">Favorites</option><option value="reference" name="reference" class="bookReference">Reference</option><option value="readandreturn" name="readandreturn" class="ReadandReturn">Read & Returned</option></select><br>
            <label for="chooseReadOption">Have you read it?</label>
           <select name="readName" class="readDropDown" id="chooseReadOption"><option value="yes" name="yes" class="readYes">Yes</option><option value="no" name="no" class="readNo">No</option></select><br>
             <label for="reviewBox">Add review or comments here</label><br>
            <textarea name ="infoForm" id='reviewBox' form='bookInfoForm'>Enter text here...</textarea><br>
            
            <button type="submit" id="submitButton" form="bookInfoForm">Submit</button>
            <div id="submitSuccess"></div>
        </form>
    </div>
    </div>

    
<div id="showSuggestionModal" class="suggestionModal">

    <div class='modalSuggestions' id="openSuggestionModal">
        <span class="suggestClose">Return to home</span>
    <div class="suggestionBox">
        <div id="suggestSearchBox">
            <p id="suggestionTitle"> Enter a favorite title or author to find new suggestions</p>
          
                <input type="text" form="bookSearchForm" id="bookSearchTerms">
                <button type="submit" id="submitSearch" form="bookSearchForm">Search!</button>
        </div>
    </div>
    <div class="showRecommends">
    </div>
        </div> 
    </div>

     

    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="/js/bookshelf.js"></script>
    
