* {
	text-align:center;  
}
button{
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 5px;
    border-radius: 3px;
    margin:3px;
}

.bookHero{
     background-image: url("/images/stack-of-books-vintage-books-book-books.jpg"); 
     background-size: cover;
     border-bottom:2px solid black;
     height:600px;
     width:100%;
     opacity:0.8;

}

#heroBanner{
    width:40%;
    margin:0 auto;
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

}

#pointOne{
    height:200px;
    padding-top: 50px;
}

#pointTwo{
    height:200px;
    padding-top: 50px;
}

#textPointOne{
    width:30%;
    display:inline-block;
    margin-bottom: 50px;
    padding-bottom:50px;
}

#pointThree{
    margin-bottom:25px;
}

#secondText{
    width:30%;
    display: inline-block;
    padding-bottom:100px;
}

#lightbulbillustration{
    margin-right:200px;
    display: inline-block;
}

#shelfillustration{
    margin-right:300px;
    display: inline-block;
    height:200px;
}

#suggestiontext{
    display:inline-block;
    width: 30%;
}

#bookillustration{
    margin-top:20px;
    margin-left:200px;
    display:inline-block;
    height:200px;
}
button:hover{
     color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #cccccc;

}
textarea{
    text-align: left;
    margin-top: 10px;
    width:80%;
    height:150px;
}
.recommendedTitle{
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
    margin-top:10px;
    text-align: left;
}

.recommendedDescription{
    border-bottom: 1px dotted #6b777e;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: left;
}

.suggestionBox{
    border-bottom:2px black solid;
    padding: 10px;
    width:500px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

#blurb{ 
    width:70%;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    margin:0 auto;
    margin-bottom:3em;
    line-height: 2;
}

#bookSuggestImg:hover, #bookDisplayImg:hover, #bookAddImg:hover{
    cursor:pointer;
}

#bookSuggestImg, #bookDisplayImg, #bookAddImg{
    display:block;
    width:60%;
}

#suggestionTitle{
    margin-bottom:5px;
}

input#bookSearchTerms, #submitSearch{
    height:30px;
}

input#bookSearchTerms{
    font-size: 16pt;
}

#reviewBox{
    margin-top: 15px;
}

#chooseReadOption, #addToShelf {
    height:30px;
    font-size:12pt; 
}

#title, #author{
    height:25px;
    font-size: 14pt;
    opacity: 1.0;
}

html, body {
  height: 100%;
}

body{
	background-color: #ffffff;
}

.formTitle {
	font-size: 2em;
	font-weight: bold;
	padding: .5em;
    margin-bottom:5px;
}

.imgSquare {
	border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-bottom:20px;
    width:100%;
}

#headTitle {
	font-size: 3em;
    margin:0 auto;
	margin-top:2em;
	margin-bottom:1em;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    /*border-bottom:1px solid black;*/
    width:20%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.filterBooks{
    margin-top:5px;
}

.displayExistingTitles, .wishlistDisplay, .tobereadDisplay, .favoritesDisplay, .readandreturnDisplay, .referenceDisplay{
    display:block;
    vertical-align: top;
    width: 100%;
}
.boxDisplayWrapper{
    margin:0 auto;
    display: inline-block;
    width:700px;
}

.eachAppend{
    border: black 1px solid;
    background-color: white;
    opacity: 1.0;
   /* height:10em;*/
    line-height: 2;
    margin:.5em;
    box-shadow: 1px 3px 3px;
    width: 100%;
}

#loginBox, #loginBoxBottom{
    margin: 0 auto;
    width:150px;
    margin-top:50px;
    padding-bottom:10px;
    margin-right:10px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 5px;
    border-radius: 3px;
    background-color: #2d8659;
   /* margin:3px;*/
}

#loginBoxBottom{
    margin:0 auto;

}

.signinWrapper{
    border:1px solid black;
    box-shadow: 1px 3px 3px;
    background-color: white;
    width:300px;
    margin: 0 auto;
    margin-top:50px;
    padding-bottom:10px;
    margin-right:10px;
    display:none;
}

#plusMore{
    margin-top:3px;
    width:30px;

}

.illustration {
    width:15%;
    text-align:right;

}

#styleTitle {
    padding:5px;
    font-size:1em;
    margin-bottom:2em;
}

.read{
    font-weight:bold;
}

.bookTitle, .bookAuthor, .bookReview, .bookTags{
	font-weight: 700;
}

.buttonWrapper {
	margin-top: 20px;
    margin-bottom: 20px;
}


.updateButton {
	display:none;
}
.exeuntButton{
display: none;
}

#titleStyle {
	font-weight: bold;
}

#tagsBox{
	width:300px;
}

.addNewTitle {
	border: 2px solid black;
	max-width: 300px;
	margin-left:50px;
}

/*image w text*/
.bookDisplayImage {
	position: relative; 
	/*width: 80%;*/
    margin:0 auto;
    display:inline-block;
    filter:grayscale(100%);
}

.bookDisplayImage:hover{
    filter:none;
}


.bookDisplayImage h2 {
	position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.bookDisplayImage h2 span {
	 color: white; 
   font: bold 36pt Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

form {
	text-align: center;
	margin: 0 auto;
}

/*add books overlay*/
.addBookOverlay{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	text-align:center;
	z-index:3;
	
}

.addModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-image: url("/images/typewriterFullSize.jpeg"); 
}


.showAddForm {
    background-color: white;
    opacity:0.8;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close, .showClose, .suggestClose {
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 10px;
    border-radius: 3px;
}

.close:hover,
.close:focus, .showClose:hover, .showClose:focus, .suggestClose:hover, .suggestClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #cccccc;
  }

/*show books overlay*/


.booksModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-image: url("/images/booksFullSize.jpeg"); 
}

#showAllBooks{
    display: none;
}

.modalShowBooks {
    background-color: white;
    opacity: 0.8;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    font-family: 'Poppins', sans-serif;
}

/*suggestions overlay*/
.suggestionModal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-image: url("/images/retroFullSize.jpg"); 
}


.modalSuggestions{
    background-color: white;
    opacity:.9;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#bookInfoForm, .formTitle, .headerStyle {
    font-family: 'Poppins', sans-serif;
}

#title, #author, #addToShelf, #chooseReadOption, #reviewBox{
    padding:2px;
    margin:10px 0px 10px 2px;
}

#bookInfoForm{
  /*  border: 1px black solid;*/
    text-align: left;
    width:300px;
    margin: 0 auto;
}

#submitButton{
   margin-left:95px;
   padding:5px;
   margin-bottom:5px;
   color: black;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 10px;
    border-radius: 3px;
}

#submitButton:hover{
    cursor: pointer;
    background-color: #cccccc;
    
}

.headerStyle{
    position: fixed;
    top: 0;
    right: 0;
}

.headerStyle li{
     display:inline-block;
}

.loginButtonSubmit{
     color: black;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #999999;
    background-color: #999999;
    padding: 5px;
    border-radius: 3px;
    margin:3px;

}
/*
.page-header {
    
}
*/
.form-group{
    padding:5px;
}

